extends layout 

block content
    h2=title 
    hr
    ul 
        li 
            a(href="/admin/add") Neues Fahrzeug hinzufügen
        li 
            a(href="/admin/edit-remove") Fahrzeug bearbeiten/löschen
        li 
            a(href="/admin/Buchungen") Buchungen ansehen