mixin scooter 

    .scooter 
        .scooter_img
            a(href='') 
              img(src="/images/Scooter/Roller_und_Fahrrad.jpg")
        .scooter_info 
            a(href='') 
              h3 Scooter 1
            hr

            p Preisklasse : 5
            p sf1 
            p sf2 
            

